@use "global" as *;

.button__box + .button__box{
    margin-top: rem(10);
}

.button__text{
    color: $lightgreen;
    font-size: rem(20.78);
    font-weight: $regular;
    letter-spacing: 0.04em;
    @include mq(md) {
        font-size: rem(22);
    }
}

.button__text-font{
    color: $green;
    font-weight: $bold;
    font-size: rem(15.11);
    line-height: calc(37.8/15.11);
    @media screen {
        font-size: rem(16);
        line-height: calc(40/16);
    }
}

.button__text-font-big{
    color: $lightgreen;
    font-size: rem(20);
    font-weight: $bold;
    @include mq(md) {
        font-size: rem(24);
    }
}


.button__item  {
    background: $green;
    position: relative;
    color: $white;
    font-size: rem(18);
    font-weight: $bold;
    padding-right: rem(22);
    letter-spacing: 0.04em;
    width: rem(300);
    height: rem(58);
    border-radius: rem(50);
    z-index: 1;
    transition: 0.4s;
    letter-spacing: 0.01em;
    overflow: hidden;
    text-decoration: underline;
    @include mq(md) {
        font-size: rem(18);
        font-weight: $bold;
        padding-right: rem(22);
        letter-spacing: 0.04em;
        width: rem(300);
        height: rem(58);    
    }
}

.button__item span::after {
	background-image: url(../images/common/button-green.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
    position: absolute;
    top: 50%;
    right: rem(-2);
    width: rem(60);
	height: rem(60);
	transform: translateY(-50%);
	transition: 0.4s background-color;
    @include mq(md) {
        right: rem(-2);
        width: rem(60);
        height: rem(60);
    }
}

.button__item:hover{
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
    cursor: pointer;
}








//trust
.button__item--trust  {
    font-size: rem(17);
    width: rem(283);
    height: rem(54);
    border-radius: rem(50);
    z-index: 1;
    transition: 0.4s;
    letter-spacing: 0.01em;
    overflow: hidden;
    text-decoration: none;
    @include mq(md) {
        font-size: rem(18);
        width: 100%;
        height: rem(58);    
    }
}

.button__item--trust-color {
    background-color: $lightgreen;
    font-size: rem(17);
    width: rem(283);
    height: rem(54);
    border-radius: rem(50);
    z-index: 1;
    transition: 0.4s;
    letter-spacing: 0.01em;
    overflow: hidden;
    text-decoration: none;
    @include mq(md) {
        font-size: rem(18);
        width: 100%;
        height: rem(58);    
    }
}

.button__item--trust-color span::after {
	background-image: url(../images/common/button-lowgreen.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
    position: absolute;
    top: 50%;
    right: rem(-2);
    width: rem(60);
	height: rem(60);
	transform: translateY(-50%);
	transition: 0.4s background-color;
    @include mq(md) {
        right: rem(-2);
        width: rem(60);
        height: rem(60);
    }
}






//now
.button__item--now  {
    font-size: rem(20);
    width: rem(320);
    height: rem(61);
    border-radius: rem(50);
    z-index: 1;
    transition: 0.4s;
    letter-spacing: 0.01em;
    overflow: hidden;
    text-decoration: none;
    @include mq(md) {
        font-size: rem(22.8);
        width: rem(380);
        height: rem(73);    
    }
}

.button__item--now span::after {
	background-image: url(../images/common/button-green.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
    position: absolute;
    top: 50%;
    right: rem(-2);
    width: rem(65);
	height: rem(65);
	transform: translateY(-50%);
	transition: 0.4s background-color;
    @include mq(md) {
        right: rem(-2);
        width: rem(78);
        height: rem(78);
    }
}







//trends
.button__item--trends  {
    font-size: rem(20);
    width: rem(340);
    height: rem(51);
    border-radius: rem(50);
    z-index: 1;
    transition: 0.4s;
    letter-spacing: 0.01em;
    overflow: hidden;
    text-decoration: none;
    @include mq(md) {
        font-size: rem(22.8);
        width: rem(480);
        height: rem(73);    
    }
}

.button__item--trends span::after {
	background-image: url(../images/common/button-green.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
    position: absolute;
    top: 50%;
    right: rem(-2);
    width: rem(65);
	height: rem(65);
	transform: translateY(-50%);
	transition: 0.4s background-color;
    @include mq(md) {
        right: rem(-2);
        width: rem(78);
        height: rem(78);
    }
}