@use "global" as *;

.company{
    text-align: center;
}

.company__inner{
    max-width: $max-width;
    margin: auto;
    padding: 0 rem(4);
    @include mq(md) {
        max-width: rem(1106);
        padding: 0;
    }
}

.company__title{
    color: $white;
    font-size: rem(28);
    font-weight: $bold;
    @include mq(md) {
        font-size: rem(36);
    }
}

.company__title-font{
    font-size: rem(28);
    @include mq(md) {
        font-size: rem(40);
    }
}

.company__title-color{
    color: $green;
    font-size: rem(32);
    @include mq(md) {
        font-size: rem(40);
    }
}

.company__line{
    width: rem(314);
    height: rem(7.3);
    margin: rem(10) auto 0;
    @include mq(md) {
        width: rem(346);
        margin: rem(22.1) auto 0;
    }
}

.company__list{
    max-width: rem(362);
    margin: rem(123) auto 0;
    @include mq(md) {
        max-width: 100%;
    }
}