@use "global" as *;

.guidance{
    background-color: $green;
    padding: rem(80) 0 rem(60) ;
}

.guidance__inner{
    max-width: $max-width;
    margin: auto;
    padding: 0 rem(15);
    @include mq(md) {
        max-width: rem(825);
        padding: 0 rem(20);
    }
}

.guidance__subtitle{
    text-align: left;
    margin-top: rem(40);
    color: $white;
    font-size: rem(16);
    font-weight: $bold;
    line-height: calc(28/16);
    letter-spacing: 0.01em;
    @include mq(md) {
        text-align: center;
        margin-top: rem(60);
        font-size: rem(20);
        line-height: calc(32/20);
    }
}





//guidance__first
.guidance__first{
    position: relative;
    background-image: url('../images/common/guidance-first-bg.png');
    background-position: calc(50% - 50%) center;
    background-repeat: no-repeat;
    background-size: 93.5% 100%;    
    padding: rem(40) 0 rem(80);
    margin-top: rem(40);
    @media (max-width: 1300px){
        background-size: 99% 100%; 
    } 
    @media (max-width: 768px){
        background-image: url('../images/common/guidance-first-bg-sp.png');
        background-position: calc(50% - 15px) center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        text-align: left;
        margin-top: rem(40);
        padding: rem(20) 0 rem(59.05);
    }
}

.guidance-head__first-man img{
    position: absolute;
    top: -9px;
    right: 2%;    
    width: rem(116);
    height: rem(187);
    @include mq(md) {
        top: auto;
        bottom: 0px;
        right: 6%;    
        width: rem(222);
        height: rem(350);
    }
}

.guidance__first-inner{
    max-width: $max-width;
    margin: auto;
    padding: 0 rem(15);
    @include mq(md) {
        max-width: rem(825);
        padding: 0 rem(20);
    }
}




.guidance__first-heading{
    @include mq(md) {
        margin-left: rem(-40);
    }
}





.guidance__first-list{
    margin-top: rem(71);
    @include mq(md){
        margin-top: rem(66);
        display: flex;
        flex-wrap: wrap;
    }
}

.guidance__first-item {
    position: relative;
    width: 58%;
    margin: 0 auto;
    @include mq(md){
        max-width: calc(25% - 2.1875rem * 3 / 4 );
        width: 100%;
        margin: 0;
    }
}

.guidance__first-number{
    position: absolute;
    top: -15px;
    left: -15px;
    width: rem(63);
    height: rem(126);
    @include mq(md) {
        left: -11.5%;
        width: rem(118);
        height: rem(63);
    }
}

.guidance__first-item + .guidance__first-item{
    margin-top: rem(50);
    @include mq(md){
        margin-top: 0;
        margin-left: rem(35);
    }
}

/* 枚数が増えたときのための処理 */
.guidance__first-item:nth-child(4n + 1){
    @include mq(md){
        margin-left: 0;
    }
}

/* 枚数が増えたときのための処理 */
.guidance__first-item:nth-child(n + 5){
    @include mq(md){
        margin-top: 3.125rem;
    }
}

.guidance__first-frame{
    width: 58%;
    margin: 0 auto;
    @include mq(md) {
        width: 100%;
    }
}

























//guidance__explanation
.guidance__explanation{
    background-image: url('../images/common/explanation-bg-sp.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
    margin-top: rem(80);
    @include mq(md) {
        background-image: url('../images/common/explanation-bg.jpg');
    }
}

.guidance__explanation-inner{
    max-width: $max-width;
    margin: auto;
    @include mq(md) {
        max-width: rem(883);
        padding: 0 rem(20);
    }
}

.guidance__explanation-wrapper{
    padding: rem(37) rem(15) rem(60);
    background: rgba(255, 255, 255, 0.7);
    @include mq(md) {
        padding: rem(32) rem(29) rem(61);
    }
}

.guidance__explanation-title{
    text-align: center;
    color: #444444;
    font-size: rem(28);
    font-weight: $medium;
    letter-spacing: 0.02em;
    padding: rem(20) 0;
    @include mq(md) {
        text-align: left;
        font-size: rem(32);
        letter-spacing: 0.018em;
        padding-left: rem(23);
    }
}

.guidance__explanation-title-green{
    background-color: $green;
    color: $white;
    display: inline-block;
    font-size: rem(24);
    border-radius: rem(6);
    padding: rem(2.5) rem(26);
    @include mq(md) {
        padding: rem(2.5) rem(39);
        font-size: rem(32);
    }
}

.guidance__explanation-title-font{
    font-size: rem(24);
    @include mq(md) {
        font-size: rem(32);
    }
}

.guidance__explanation-head img {
    width: rem(327);
    height: rem(7.3);
    margin: 0 auto;
    @include mq(md) {
        width: rem(785);
    }    
}

.guidance__explanation-sentence{
    margin-top: rem(40);
    @include mq(md) {
        margin-top: rem(41);
    }
}

.guidance__explanation-text{
    color: #444444;
    font-size: rem(16);
    font-weight: $medium;
    line-height: calc(26/16);
    letter-spacing: 0.018em;
    padding: 0 rem(18);
    @include mq(md) {
        padding: 0;
        line-height: calc(30/16);
    }
}







.guidance__second{
    position: relative;
    background-image: url('../images/common/guidance-second-bg.png');
    background-position: calc(50% + 50%) center;
    background-repeat: no-repeat;
    background-size: 93.5% 100%; 
    margin-top: rem(40);   
    padding: rem(40) 0 rem(80);
    @media (max-width: 1300px){
        background-size: 99% 100%; 
    } 
    @media (max-width: 768px){
        background-image: url('../images/common/guidance-second-bg-sp.png');
        background-position: calc(50% + 15px) center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        text-align: left;
        margin-top: rem(80);
        padding: rem(20) 0 rem(80);
    }
}












.guidance__second-inner{
    max-width: rem(890);
    width: 100%;
    padding: 0 rem(15) 0 rem(25);
    margin-left: auto;
    @include mq(md) {
        padding: 0 rem(20) ;
    }
}

.guidance__second-heading--right{
    margin-left: auto;
    width: rem(291);
    @include mq(md) {
        width: 100%;
        margin-left: 0;
    }
}

.guidance-head__container {
    overflow-x: scroll;
    width: calc(100% + rem(25));  // 右側のパディングのみ補正
    margin: rem(40) auto auto auto;
    @include mq(md) {
        width: 100%;
    }
}

.guidance-head__table {
    width: rem(830);
    height: rem(367);
    @include mq(md) {
        width: 100%;
        height: 100%;
    }
}