@use "global" as *;

.pagetop {
    position: relative;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 1000;
    display: none; /* 初期状態で確実に非表示にする */
    flex-direction: column; /* 縦方向に要素を並べる */
    align-items: flex-end; /* 子要素を右寄せに */
}


.pagetop a {
    display: inline-block; /* リンク領域を画像サイズに限定 */
    transition: 0.5s;
    width: auto; /* 画像のサイズに応じてリンク領域を設定 */
}


.pagetop a:hover {
    opacity: 0.8;
}

.pagetop__img-top {
    display: flex;
    justify-content: flex-end; /* 右寄せ */
}

.pagetop__img-top img {
    width: 100%;
    height: rem(90);
    @include mq(md) {
        height: rem(200);
    }
}

.pagetop__img-bottom {
    display: flex;
    justify-content: flex-end; /* 右寄せ */
}

.pagetop__img-bottom img {
    width: 100%;
    height: rem(90);
    @include mq(md) {
        height: rem(150);
    }
}


