@use "global" as *;

.strong{
    padding: rem(61) 0 0 0 ;
    @include mq(md) {
        padding: rem(100) 0 0 0 ;
    }
}


//タイトル
.strong__head-img img{
    width: rem(125);
    height: rem(46.6);
    margin: 0 auto;
    @include mq(md) {
        width: rem(252);
        height: rem(93.96);
    }
}

.strong__title-top{
    position: relative;
    font-size: rem(20);
    font-weight: $semiBold;
    display: inline-block;
    width: rem(286);
    padding: rem(2) 0;
    background-color: $white;
    color: $green;
    border-radius: rem(60);
    @include mq(md) {
        width: rem(577);
        padding: rem(8) 0;
        font-size: rem(36);
    }
}

.strong__title-top-color{
    color: #8BC349;
}

.strong__title-border{
    border-top: solid 2px $green;
    width: rem(31.64);
    @include mq(md) {
        width: rem(219);
    }
}

.strong__title-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 rem(9.95);
    @include mq(md) {
        gap: 0 rem(21);
    }
}

.strong__title-bottom{
    color: $green;
    margin: rem(10) 0 rem(20);  
    font-size: rem(27.7);
    font-weight: $bold;
    @include mq(md) {
        margin: rem(0);
        font-size: rem(48);
        line-height: 1.3;
    }
}

.strong__title-bottom span {
    color: $orange;
    font-size: rem(36.9);
    @include mq(md) {
        font-size: rem(64);
    }
}







.strong__list{
    margin-top: rem(50);
    padding-bottom: rem(80);
    @include mq(md) {
        margin-top: rem(80);
        padding-bottom: rem(100);
    }
}

.strong__item + .strong__item{
    margin-top: rem(132);
    @include mq(md) {
        margin-top: rem(150);
    }
}

.strong__name-inner{
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 rem(15);
    @include mq(md) {
        max-width: 1027px;
        padding: 0 rem(20);
    }
}

.strong__name-content{
    margin-top: rem(20);
    @include mq(md) {
        margin-top: rem(-115);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 0 rem(54);
    }
}

.strong__name-wrapper{
    width: 100%;
    @include mq(md) {
        width: 34%;
    }
}

.strong__name-review{
    text-align: left;
    background-color: $white;
    color:#222;
    width: rem(315);
    padding: rem(9) 0;
    font-size: rem(18);
    font-weight: $bold;
    letter-spacing: 0.04em;
    @include mq(md) {
        width: 40.4%;
        font-size: rem(20);
        padding-left: 7.57%;
    }
}

.strong__name-review span {
    color: $orange;
}

.strong__name-title{
    position: relative;
    z-index: 100;
    white-space: nowrap;
    color: $green;
    font-size: rem(28);
    font-weight: $bold;
    @include mq(md) {
        font-size: rem(42);
    }
}

.strong__name-wrapper img {
    margin-top: rem(2);
    width: rem(240);
    margin: 0 auto;
    @include mq(md) {
        width: 100%;
    }
}

.strong__name-left{
    margin-top: rem(20);
    width: 100%;
    @include mq(md) {
        margin-top: rem(0);
        width: 55%;
    }
}

.strong__name-img {
    overflow: hidden; /* 親要素から画像がはみ出さないようにする */
}

.strong__name-img img {
    aspect-ratio: 340/214;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s; /* 画像の縮小にアニメーションを追加 */
    transform: scale(1); /* 通常時は1倍の大きさ */
    @include mq(md) {
        aspect-ratio: 541/341;
    }
}

.strong__name-img img:hover {
    transform: scale(0.97); /* マウスオーバーで画像を少し縮小 */
}



.strong__name-source{
    color: $white;
    display: flex;
    justify-content: center;
    font-weight: $regular;
    font-size: rem(10.85);
    margin-top: rem(10);
    @include mq(md) {
        margin-top: rem(-10);
    }
}

.strong__name-source-text{
    text-decoration: underline;
}

.strong__name-source-text a:hover{
    opacity: 0.5;
    transition: 0.3s;
}







//strong__sentence
.strong__sentence{
    background-color: $green;
    margin-top: rem(-120);
    padding: rem(134) 0 rem(40);
    @include mq(md) {
        margin-top: rem(-50);
        padding: rem(66) 0 rem(40);
    }
}

.strong__sentence-inner{
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 rem(15);
    @include mq(md) {
        max-width: 881px;
        padding: 0 rem(20);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 0 rem(68);
    }
}

.strong__sentence-box{
    text-align: left;
    color: $white;
    width: 100%;
    @include mq(md) {
        width: 56.25%;
    }
}

.strong__sentence-text{
    font-size: rem(16);
    font-weight: $bold;
    line-height: calc(24/16);
    letter-spacing: 0.01em;
}

.strong__sentence-text + .strong__sentence-text{
    margin-top: rem(20);
}

.strong__sentence-buttons{
    margin-top: rem(40);
    @include mq(md) {
        margin-top: rem(0);
    }
}

.strong__sentence-button + .strong__sentence-button{
    margin-top: rem(10);
}

.strong__sentence-button-text{
    color: $white;
    font-size: rem(22);
    font-weight: $regular;
    letter-spacing: 0.04em;
}

.strong__sentence-button-text span {
    font-weight: $medium;
    font-size: rem(16);
    line-height: calc(40/16);
}

.strong__sentence-button-box  {
    background: $lightgreen;
    position: relative;
    color: $white;
    font-size: rem(18);
    font-weight: $bold;
    padding-right: rem(22);
    letter-spacing: 0.04em;
    width: rem(300);
    height: rem(58);
    border-radius: rem(50);
    z-index: 1;
    transition: 0.4s;
    letter-spacing: 0.01em;
    overflow: hidden;
    @include mq(md) {
        font-size: rem(18);
        font-weight: $bold;
        padding-right: rem(22);
        letter-spacing: 0.04em;
    }
}

.strong__sentence-button-box--orange{
    background: $orange;
}

.strong__sentence-button-box span::after {
	background-image: url(../images/common/button-lowgreen.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
    position: absolute;
    top: 50%;
    right: rem(-2);
    width: rem(60);
	height: rem(60);
	transform: translateY(-50%);
	transition: 0.4s background-color;
    @include mq(md) {
        right: rem(-2);
        width: rem(63);
        height: rem(63);
    }
}

.strong__sentence-button-box--orange span::after {
	background-image: url(../images/common/button-orange.svg);
}

.strong__sentence-button-box:hover{
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
    cursor: pointer;
}











//strong__service
.strong__service{
    padding: rem(60) 0 rem(80);
    @include mq(md) {
        padding: rem(68) 0 rem(80);
    }
}

.strong__service-inner{
    max-width: $max-width;
    margin: auto;
    padding: 0 rem(15);
    @include mq(md) {
        max-width: rem(825);
        padding: 0 rem(20);
    }
}

.strong__service-list{
    @include mq(md){
        display: flex;
        flex-wrap: wrap;
    }
}

.strong__service-item{
    @include mq(md){
        max-width: calc(50% - 3.0625rem * 1 / 2 );
        width: 100%;
    }
}

.strong__service-item + .strong__service-item{
    margin-top: rem(40);
    @include mq(md){
        margin-top: 0;
        margin-left: rem(49);
    }
}



.strong__service-buttons{
    margin-top: rem(40);
    @include mq(md) {
        margin-top: rem(60);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 rem(54);
    }
}

.strong__service-buttons--margin{
    margin-top: rem(40);
    @include mq(md) {
        margin-top: rem(40);
    }
}

.strong__service-button + .strong__service-button{
    margin-top: rem(10);
    @include mq(md) {
        margin-top: rem(0);
    }
}

.strong__service-button-text{
    color: $orange;
    font-size: rem(22);
    font-weight: $regular;
    letter-spacing: 0.04em;
}

.strong__service-button-text--green{
    color: $green;
}

.strong__service-button-text span {
    font-weight: $medium;
    font-size: rem(16);
    line-height: calc(40/16);
}

.strong__service-button-box  {
    background: $orange;
    position: relative;
    color: $white;
    font-size: rem(18);
    font-weight: $bold;
    padding-right: rem(22);
    letter-spacing: 0.04em;
    width: rem(300);
    height: rem(58);
    border-radius: rem(50);
    z-index: 1;
    transition: 0.4s;
    letter-spacing: 0.01em;
    overflow: hidden;
}

.strong__service-button-box--green{
    background: $green;
}

.strong__service-button-box span::after {
	background-image: url(../images/common/button-orange.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
    position: absolute;
    top: 50%;
    right: rem(-2);
    width: rem(60);
	height: rem(60);
	transform: translateY(-50%);
	transition: 0.4s background-color;
    @include mq(md) {
        right: rem(-2);
        width: rem(63);
        height: rem(63);
    }
}

.strong__service-button-box--green span::after {
	background-image: url(../images/common/button-green.svg);
}

.strong__service-button-box:hover{
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
    cursor: pointer;
}





// strong__achievements
.strong__achievements{
    background-color: $green;
    padding: rem(60) 0 rem(50);
    @include mq(md) {
        padding: rem(40) 0;
    }
}

.strong__achievements-inner{
    max-width: $max-width;
    margin: auto;
    padding: 0 rem(15);
    @include mq(md) {
        max-width: rem(723);
        padding: 0 rem(20);
    }
}

.strong__achievements-head{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 rem(10) ;
    @include mq(md) {
        gap: 0 rem(40);
    }
}

.strong__achievements-head-line{
    width: rem(112);
    height: rem(7.3);
    @include mq(md) {
        width: rem(253);
    }
}

.strong__achievements-title{
    color: $white;
    font-size: rem(24);
    font-weight: $bold;
}










// 売却実績
.table-container {
    background-color: #00692d; /* 緑の背景色 */
    border-radius: 10px; /* 角を丸める */
    max-width: 636px; /* 合計幅の調整 */
    margin: rem(40) auto 0; /* 中央揃え */
    @include mq(md) {
        margin: rem(30) auto 0; /* 中央揃え */
    }
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff; /* 白背景 */
    border-radius: 10px;
    overflow: hidden; /* 角の部分を隠すためにoverflow */
}

.custom-table th, .custom-table td {
    text-align: center;
    padding: rem(14) 0;
    border-bottom: 1px dotted #8d734a; /* ドットの線 */
}

.custom-table thead th {
    background-color: $lightgreen; /* 黄緑色の背景 */
    color: #724A1E;
    font-weight: bold;
    font-size: rem(12.66);
    font-weight: $medium;
    line-height: calc(16.8/12.6);
    border-bottom: none; /* 下線を削除 */
    @include mq(md) {
        font-size: rem(16);
        line-height: calc(28/16);
        letter-spacing: 0.01em;
    }
}

.custom-table tbody tr:last-child td {
    border-bottom: none; /* 最後の行のボーダーを削除 */
}

.custom-table tbody td {
    color: #724A1E;
    font-weight: bold;
    font-size: rem(12.66);
    font-weight: $medium;
    line-height: calc(16.8/12.6);
    @include mq(md) {
        font-size: rem(16);
        line-height: calc(28/16);
        letter-spacing: 0.01em;
    }
}

  /* 各列の幅の設定 */
.custom-table th:nth-child(1), .custom-table td:nth-child(1) {
    width: 200px; /* 物件種別の幅 */
}

.custom-table th:nth-child(2), .custom-table td:nth-child(2) {
    width: 230px; /* 階数の幅 */
    border-left: 1px dotted #8d734a; /* 左側の点線 */
    border-right: 1px dotted #8d734a; /* 右側の点線 */
}

.custom-table th:nth-child(3), .custom-table td:nth-child(3) {
    width: 200px; /* 専用面積の幅 */
}

.strong__achievements-name-source{
    color: $white;
    display: flex;
    justify-content: center;
    font-weight: $regular;
    font-size: rem(10.85);
    margin-top: rem(20);
    @include mq(md) {
        margin-top: rem(10);
        font-size: rem(10);
        font-weight: $medium;
    }
}

.strong__achievements-name-source-text{
    text-decoration: underline;
}

.strong__achievements-name-source-text a:hover{
    opacity: 0.5;
    transition: 0.3s;
}







// 会社の評判・口コミ
.strong__review{
    padding: rem(66) 0 rem(60);
    @include mq(md) {
        padding: rem(83) 0 rem(80);
    }
}

.strong__review-inner{
    max-width: $max-width;
    margin: auto;
    padding: 0 rem(15);
    @include mq(md) {
        max-width: rem(821);
        padding: 0 rem(20);
    }
}

.strong__review-head{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 rem(10) ;
    @include mq(md) {
        gap: 0 rem(29);
    }
}

.strong__review-head-line{
    width: rem(100);
    height: rem(7.3);
    @include mq(md) {
        width: rem(253);
    }
}

.strong__review-title{
    color: $green;
    font-size: rem(24);
    font-weight: $semiBold;
}

.strong__review-content{
    width: calc(100% + rem(15));  // 右側のパディングのみ補正
    margin: rem(66) auto auto 0; // 左側のパディングはそのまま
    @include mq(md) {
        width: 100%;
        margin: rem(57) auto auto 0;
    }
}

.strong__review-wrapper + .strong__review-wrapper{
    margin-top: rem(40);
    @include mq(md) {
        margin-top: rem(20);
    }
}

.strong__review-sentence{
    background-color: $lightgreen;    
    max-width: rem(665);
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap:0 rem(7.49) ;
    border-top-left-radius: rem(64.3); /* 左上を丸く */
    border-bottom-left-radius: rem(64.3); /* 左下を丸く */
    overflow: hidden; /* 内容がボックスの外に出ないようにする */
    @include mq(md) {
        gap: 0 rem(26.49);
        border-radius: rem(64.3);
    }
}

.strong__review-img{
    width: 28.73%;
    @include mq(md) {
        width: 18.34%;
    }
}

.strong__review-text{
    width: 60%;
    text-align: left;
    color: $white;
    font-size: rem(14);
    font-weight: $medium;
    line-height: calc(24/14);
    letter-spacing: 0.01em;
    @include mq(md) {
        width: 73%;
        font-size: rem(16);
        line-height: calc(24/16);
    }
}

.strong__review-name-source{
    color: #444;
    display: flex;
    justify-content: center;
    font-weight: $regular;
    margin-top: rem(10);
    @include mq(md) {
        font-size: rem(10);
    }
}

.strong__review-name-source-text{
    text-decoration: underline;
}

.strong__review-name-source-text a:hover{
    opacity: 0.5;
    transition: 0.3s;
}





// 会社概要
.strong__company{
    background-image: url('../images/common/strong__company-bg-sp.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include mq(md) {
        background-image: url('../images/common/strong__company-bg.jpg');
    }
}

.strong__company-inner{
    max-width: $max-width;
    margin: auto;
    @include mq(md) {
        max-width: rem(883);
        padding: 0 rem(20);
    }
}

.strong__company-content{
    background: rgba(255, 255, 255, 0.9);
    padding: rem(40) rem(28);
    @include mq(md) {
        padding: rem(40) 0 rem(60);
    }
}

.strong__company-head-img{
    margin-top: rem(6);
    @include mq(md) {
        margin-top: rem(7);
    }
}

.strong__company-head-img img{
    width: rem(35.94);
    height: rem(32.63);
    margin: 0 auto;
    @include mq(md) {
        width: rem(43.94);
        height: rem(39.89);
    }
}

.strong__company-title{
    color: $green;
    font-size: rem(24);
    font-weight: $bold;
    @include mq(md) {
        margin-top: rem(5);
        font-size: rem(32);
    }
}

.strong__company-title-img{
    width: rem(240);
    height: rem(5);
    margin: rem(10) auto 0;
    @include mq(md) {
        width: rem(346);
        height: rem(7.3);
        margin: rem(7) auto 0;
    }
}

.strong__company-list{
    margin-top: rem(28.83);
    @include mq(md) {
        max-width: rem(443);
        margin: rem(31.7) auto 0;
    }
}

.strong__company-item + .strong__company-item{
    margin-top: rem(24.27);
    @include mq(md) {
        margin-top: rem(18.92);
    }
}

.strong__company-box{
    @include mq(md) {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 rem(20.82);
    }
}

.strong__company-box a{
    transition: 0.5a;
}

.strong__company-box a:hover{
    opacity: 0.5;
}

.strong__company-box dt {
    color: $green;
    font-size: rem(15.74);
    font-weight: $semiBold;
    width: 100%;
    @include mq(md) {
        width: 24.37%;
    }
}

.strong__company-box dd {
    color: #444444;
    font-size: rem(15.74);
    font-weight: $bold;
    width: 100%;
    margin-top: rem(14);
    @include mq(md) {
        white-space: nowrap;
        text-align: left;
        width: 71.36%;
        margin-top: rem(0);
    }
}

.strong__company-link{
    text-decoration: underline;
}